In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,cloudiness,wind Speed
0,0,Ushuaia,AR,2021-10-28 00:12:03,-54.8000,-68.3000,47.86,53,20,12.66
1,1,Colac,AU,2021-10-28 00:12:03,-38.3333,143.5833,66.16,61,39,3.36
2,2,Touros,BR,2021-10-28 00:12:03,-5.1989,-35.4608,79.59,76,4,16.75
3,3,Hasaki,JP,2021-10-28 00:12:04,35.7333,140.8333,62.82,62,100,14.09
4,4,Cape Town,ZA,2021-10-28 00:08:52,-33.9258,18.4232,63.88,85,40,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
cloudiness      int64
wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
temps= []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations=city_data_df[["Lat","Lng"]]
#get max temp.
max_temp=city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

#4 assign the heatmap_layer variable to the heatmap_layer attribute  and add in the locations.
heat_layer=gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#5 add the heatmap layer
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations=city_data_df[["Lat","Lng"]]
clouds=city_data_df["cloudiness"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False, max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations=city_data_df[["Lat","Lng"]]
wind=city_data_df["wind Speed"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False, max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,cloudiness,wind Speed
2,2,Touros,BR,2021-10-28 00:12:03,-5.1989,-35.4608,79.59,76,4,16.75
5,5,Victoria,HK,2021-10-28 00:07:49,22.2855,114.1577,78.33,79,86,1.01
8,8,Atuona,PF,2021-10-28 00:12:05,-9.8000,-139.0333,77.61,70,6,14.67
11,11,Butaritari,KI,2021-10-28 00:12:06,3.0707,172.7902,80.78,75,100,10.20
15,15,Vaini,TO,2021-10-28 00:12:07,-21.2000,-175.2000,78.96,83,20,12.66
23,23,Wewak,PG,2021-10-28 00:12:10,-3.5534,143.6268,84.25,73,55,4.85
24,24,Koungou,YT,2021-10-28 00:12:11,-12.7336,45.2042,76.71,88,0,8.05
27,27,Kapaa,US,2021-10-28 00:12:12,22.0752,-159.3190,83.19,71,1,3.00
34,34,Isangel,VU,2021-10-28 00:12:14,-19.5500,169.2667,80.94,73,100,2.42
38,38,Tahta,EG,2021-10-28 00:12:15,26.7693,31.5021,75.87,26,0,2.64

In [12]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
cloudiness    151
wind Speed    151
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Touros      BR     79.59  -5.1989  -35.4608
5     Victoria      HK     78.33  22.2855  114.1577
8       Atuona      PF     77.61  -9.8000 -139.0333
11  Butaritari      KI     80.78   3.0707  172.7902
15       Vaini      TO     78.96 -21.2000 -175.2000
23       Wewak      PG     84.25  -3.5534  143.6268
24     Koungou      YT     76.71 -12.7336   45.2042
27       Kapaa      US     83.19  22.0752 -159.3190
34     Isangel      VU     80.94 -19.5500  169.2667
38       Tahta      EG     75.87  26.7693   31.5021

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [18]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))